.site-nav.list {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    display: inline-block;
}

.hader .container {
    display: flex;
    align-items: center;
}

.hader {
    border-bottom: 1px solid var(--border-button-color);
}

/* Site nav */

.site-nav__item {
    margin-right: 50px;
}

.site-nav__item:last-child {
    margin-right: 0;
}

.site-nav {
    display: flex;
    align-items: center;
    transition: color 250ms var(--timing-function);
}

.site-nav__link {
    position: relative;
    display: block;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
}

.site-nav .link .site-nav__link--current+.link {
    margin-left: 50px;
}

.site-nav__item .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav__logo-blue {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.site-nav__logo-blue.link {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.site-nav__logo-black {
    font-family: inherit;
}

.logo--black {
    color: var(--title-text-color);
}

.site-nav__logo-white {
    font-family: inherit;
}

.logo--white {
    color: var(--primary-white-color);
}

.site-nav__logo-down {
    display: inline-block;
    margin-bottom: 20px;
}

.site-nav.list .site-nav__link--current {
    color: var(--accent-color);
}

.site-nav .link .site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link--current::after {
    content: "";
    width: 100%;
    height: 4px;

    position: absolute;
    display: block;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: -1px;
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact.list {
    display: flex;
    margin-left: auto;

}

.contact .contact__item+.contact__item,
.contact .connect-item+.connect-item {
    display: block;
    margin-left: 50px;
}

.contact__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-function), fill 250ms var(--timing-function),
        background-color 250ms var(--timing-function);
}

.contact__link .contact__icon-contact:hover,
.contact__link .contact__icon-contact:focus {
    color: var(--primary-text-color);
    fill: var(--accent-color);
    transition: color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}

.contact__icon-contact::before {
    display: flex;
    align-items: center;
}

.contact__icon-contact {
    margin-right: 10px;
    fill: currentColor;
    text-align: justify;
}